<header>
    <div class="container">
        <div class="header">
            <a href="index.php">
                <img id="text" src="images/textlogo.jpg" alt="Valentino's">
                <img id="logo" src="images/logo.gif">
            </a>
        </div>
    </div>
</header>
